{% extends 'base.html' %}

{% load static %}

{% block title %}LOGIN — SisRPF{% endblock title %}

{% block styles %}
    
    <link href="{% static 'css/mainpro.css' %}" rel="stylesheet">

{% endblock styles %}

{% block body %}

<body class="login-page bg-teal">

    {% block content %}
    <div class="app-container app-theme-white body-tabs-shadow">
            <div class="app-container">
                <div class="h-100 bg-night-sky bg-animation">
                    <div class="d-flex h-100 justify-content-center align-items-center">
                        <div class="mx-auto app-login-box col-md-6">
                            <div class="mb-3" align="center">
                                <img src="{% static 'images/logo-white.png' %}" class="mb-2"/>
                                <h6 class="text-white">Hospital Maternidade Terezinha Lula de Queiroz Santos</h6></h6>
                            </div>
                            <div class="modal-dialog w-100 mx-auto">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="h6 modal-title text-center">
                                            <h6 class="mt-2 mb-2">
                                                <span>Acesso restrito apenas a usuários autenticados pelos Administradores do sistema!</span>
                                            </h6>
                                        </div>
                                        <hr>
                                        <form id="sign_in" method="POST" class="needs-validation">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-md-12 mb-2">
                                                    <div class="position-relative form-group">
                                                        <label for="username">
                                                            <strong>Usuário</strong>
                                                        </label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text bg-night-sky">
                                                                    <i class="fa fa-user-circle text-white" aria-hidden="true"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="username" placeholder="Usuário" required autofocus>
                                                            <div class="valid-feedback"></div>
                                                            <div class="invalid-tooltip"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-2">
                                                    <div class="position-relative form-group">
                                                        <label for="password">
                                                            <strong>Senha</strong>
                                                        </label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text bg-night-sky">
                                                                    <i class="fa fa-lock text-white" aria-hidden="true"></i>
                                                                </span>
                                                            </div>
                                                            <input type="password" class="form-control" name="password" placeholder="Senha" required>
                                                            <div class="valid-feedback"></div>
                                                            <div class="invalid-tooltip"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer clearfix center">
                                                <button class="mb-2 mr-2 btn-icon btn-shadow btn btn-outline-secondary btn-lg btn-block" type="submit">
                                                    <i class="lnr-enter btn-icon-wrapper"></i>
                                                    <span>LOGIN</span>
                                                </button>
                                            </div>
                                        </form>
                                        <script>
                                            // Example starter JavaScript for disabling form submissions if there are invalid fields
                                            (function() {
                                                'use strict';
                                                window.addEventListener('load', function() {
                                                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                                    var forms = document.getElementsByClassName('needs-validation');
                                                    // Loop over them and prevent submission
                                                    var validation = Array.prototype.filter.call(forms, function(form) {
                                                        form.addEventListener('submit', function(event) {
                                                            if (form.checkValidity() === false) {
                                                                event.preventDefault();
                                                                event.stopPropagation();
                                                            }
                                                            form.classList.add('was-validated');
                                                        }, false);
                                                    });
                                                }, false);
                                            })();
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center text-white opacity-8 mt-3">
                                <b>Setor de Faturamento Hospitalar</b><br>
                                <span>HMTLQS / Jucurutu-RN</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block scripts %}
    
    <script type="text/javascript" src="{% static 'js/mainpro.js' %}"></script>

{% endblock scripts %}

</body>
{% endblock body %}