{% extends "base.html" %}
{% load static %}

{% block title %}Saindo...{% endblock title %}

{% block styles %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock styles %}

{% block body %}
<body onload="loading('login');" class="theme-teal bg-blue-grey">
    {% block content %}
    <section class="contentLoading">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="top: 100px">
                    <div class="card" style="width: 70%; margin: auto;">
                        <div class="header bg-white" align="center">
                            <strong style="font-size: 18pt;" class="col-red">
                                ENCERRANDO SESSÃO...
                            </strong>
                        </div>
                        <div class="body" align="center" style="min-height: 300px;">
                            <div class="demo-preloader">
                                <div class="preloader pl-size-xl" style="margin-top: 5%;">
                                    <div class="spinner-layer pl-red">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}

    {% block scripts %}
    <script src="{% static 'js/loading.js' %}"></script>
    {% endblock scripts %}

{% endblock body %}