{% extends 'base.html' %}

{% load static %}

{% block title %}ENCERRANDO...{% endblock title %}

{% block styles %}
    
    <link href="{% static 'css/mainpro.css' %}" rel="stylesheet">

{% endblock styles %}

{% block body %}

<body>

    {% block content %}
        <div class="app-container app-theme-white body-tabs-shadow">
            <div class="app-container">
                <div class="h-100 bg-asteroid bg-animation">
                    <div class="d-flex h-100 justify-content-center align-items-center">
                        <div class="mx-auto app-login-box col-md-6">
                            <div class="modal-dialog w-100 mx-auto">
                                <div class="modal-content mt-5">
                                    <div class="modal-body">
                                        <div class="modal-title text-center">
                                            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                                                <h4 class="mb-0">
                                                    <i class="lnr-hourglass"></i> ENCERRANDO SESSÃO...
                                                </h4>
                                            </div>
                                        </div>

                                        <hr/>
                                        
                                        <div class="loader-wrapper d-flex justify-content-center align-items-center mb-5 mt-5"></div>
                                        <div class="loader-wrapper d-flex justify-content-center align-items-center mb-5 mt-5">
                                            <div class="loader">
                                                <div class="line-scale-pulse-out-rapid">
                                                    <div class="bg-secondary" style="width: 10px; height: 80px;"></div>
                                                    <div class="bg-secondary" style="width: 10px; height: 80px;"></div>
                                                    <div class="bg-secondary" style="width: 10px; height: 80px;"></div>
                                                    <div class="bg-secondary" style="width: 10px; height: 80px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="loader-wrapper d-flex justify-content-center align-items-center mb-5 mt-5"></div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block scripts %}
    <script>
        setTimeout(function () {
            window.location.href = "../logout";
        }, 1000);
    </script>
    <script type="text/javascript" src="{% static 'js/loading.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mainpro.js' %}"></script>
    
{% endblock scripts %}

</body>
{% endblock body %}